@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');

* {
  margin: 18px 0;
}

html,
body {
  margin-top: 36px;
  padding: 0;
  background: #1c1c1c;
}

.container {
  padding: 48px;
  margin: 0 auto;
  width: 50%;
  background: #1f2937;
}

.random-head {
  margin-bottom: 4px;
}

.header {
  font-family: Karla, sans-serif;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.random-text {
  color: #10b981;
  margin-bottom: 18px;
}

.sub-heading {
  font-size: 20px;
  font-family: Inter, sans-serif;
  margin: 0;
}

.random-accent {
  color: #d5d4d8;
}

.password-button {
  display: flex;
  width: 100%;
}

.btn {
  padding: 12px;
  border-radius: 6px;
  background: #10b981;
  color: #fff;
  font-family: Inter, sans-serif;
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

#generate-password-el {
  height: 100%;
  font-size: 14px;
}

.password-generator {
  display: flex;
  width: 100%;
  margin: 0;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 8px;
}

.password {
  min-height: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Inter, sans-serif;
  color: #10b981;
  background: #273549;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
}
